rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      // Any authenticated user can get a single user profile or list all users.
      allow get, list: if request.auth != null;
      
      // A user can only create, update, or delete their own profile.
      allow create, update, delete: if request.auth.uid == userId;
    }

    match /userInteractions/{userId} {
        // A user can only read or write to their own interactions document.
        allow read, write: if request.auth.uid == userId;
    }

    match /reports/{reportId} {
      // Any authenticated user can create a report.
      allow create: if request.auth != null;
      // Reports are not readable by clients.
      allow read, write: if false;
    }

    match /chats/{chatId} {
      // A user can only access a chat if they are one of the participants.
      allow read, write: if request.auth.uid in resource.data.participants;
      
      // Allow a user to list chats they are a part of.
      allow list: if request.auth != null && request.auth.uid in query.get('participants');
    }
    
    match /chats/{chatId}/messages/{messageId} {
        // A user can read/write messages in a chat they are a participant in.
        allow read, write: if request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participants;
    }
  }
}
