
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Users can be read by any signed-in user, but only written to by the owner.
    match /users/{userId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isOwner(userId);
    }

    // User interactions can only be read and written by the owner.
    match /userInteractions/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Reports can be created by any signed-in user. Only admins should read them,
    // but for now, we'll prevent reads from the client.
    match /reports/{reportId} {
      allow create: if isSignedIn();
      allow read, update, delete: if false; // Should be handled by admin/backend
    }

    // Chat documents and messages can only be accessed by participants of the chat.
    match /chats/{chatId} {
      allow read, write: if isSignedIn() && request.auth.uid in resource.data.participants;

      match /messages/{messageId} {
        // Anyone in the chat can read messages.
        allow read: if isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participants;
        // You can only create a message if you are a participant.
        allow create: if isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participants;
        // Users cannot update or delete messages.
        allow update, delete: if false;
      }
    }
  }
}
